@import 'variables';

.footer {      
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bland-green;
  text-align: center;
  line-height: 1.8;
  margin-top: 0 ; 
  padding: 2rem;
  height: 100%;
}

.text {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}