@import 'variables';

* {
  margin: 0;
  padding: 0;
};

.header {
  background-image: url('../static/background.jpg');
  filter: grayscale(25%);
  height: 61em; 
  width: 100%;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.motto {
  display: flex;
  justify-content: center;
  align-items: center;  
  color:#fff !important;
  text-align: center;
  font-size: 4rem;
  margin: 0 15%;
  font-family:  serif;  
  padding: 1rem;
  position: absolute;
  bottom: 40%;
  @media screen and (max-width: $medium) {
    font-size: 2.5rem;
    padding: 0;
  }
}

.particles-background {
  background-color: $mild-blue;
}