* {
  margin: 0;
  padding: 0;
};

.header {
  background-image: url('../static/background.jpg');
  height: 55em; 
  width: 100;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    color:#fff !important;
    text-align: center;
    font-size: 4rem;
    margin: 0 15%;
    font-family:  serif;  
    padding: 1rem;
  }
}
