@import 'variables';

.problem-wrap {
  background-color: white;
  color: $green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  z-index: 100;
  
  .problem-text--wrap {
    width: 90%;
    padding: 4em 0;
    height: auto;
    
    @media screen and (min-width: $not-small)  {
      width: 80%;
    }
    
    @media screen and (min-width: $large)  {
      width: 50%;  
    }

    .problem-item--heading {
      text-align: center;

      @media screen and (min-width: $not-small)  {
        letter-spacing: 0.15em;
      }
    } 

    .problem-item--main-heading {
      font-size: 2rem;
      text-align: center;
      padding-top: 2rem;
      line-height: 1.5;

      @media screen and (min-width: $not-small)  {
        font-size: 2.5rem;
      }
    } 

    .problem-text {
      padding-top: 2rem;
      font-size: 1.125rem;
      text-align: center;
      line-height: 1.5;
    }
  }
}
