@import 'variables';

.solution-wrap {
  background: url('../static/solution-background.jpg');
  filter: grayscale(35%) invert(10%) saturate(150%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;

  .solution-text--wrap {
    width: 90%;
    padding: 4em 0;
    height: auto;

    @media screen and (min-width: $not-small) {
      width: 80%;
    }

    @media screen and (min-width: $large) {
      width: 60%;
    }

    .solution-item--heading {
      text-align: center;

      @media screen and (min-width: $not-small) {
        letter-spacing: 0.1em;
      }
    }

    .solution-item--main-heading {
      font-size: 2rem;
      text-align: center;
      padding-top: 2rem;
      line-height: 1.5;

      @media screen and (min-width: $not-small) {
        font-size: 2.5rem;
      }
    }

    .solution-text {
      padding-top: 2rem;
      font-size: 1.125rem;
      text-align: center;
      line-height: 1.5;

      @media screen and (min-width: $not-small) {
        font-size: 1.5rem;
      }
    }
  }
}
